@page "/finish"
<h3>Purchase successfully finished</h3>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdx30nSpnq7G0FaavB5pOEIyQVBa8LUhEV4SdM7WS63K62LVcd35xJFEQSRXCGhufmlm4&usqp=CAU">
<h5>Good luck!</h5>